<div class="w-full">
  <section class="relative overflow-hidden py-20">
    <div class="relative">
      <div class="mx-auto max-w-xl lg:max-w-7xl">
        <div class="mx-auto mb-14 max-w-2xl text-center">
          <span class="mb-4 inline-block rounded-full bg-gray-50 px-3 py-1 text-xs font-semibold text-black">
            OUR BLOG
          </span>
          <h1 class="text-5xl font-bold">{{ blog.title }}</h1>
        </div>
        <div class="my-18 -mx-4 flex flex-wrap px-4">
          <div class="mb-12 w-full px-4 lg:mb-0 lg:w-3/5">
            <div class="group block w-full" href="#">
              <img
                class="mb-5 block w-full rounded-lg"
                [src]="getImage(blog)"
                alt=""
              />
              <span class="mb-5 block text-gray-500">Jul 20, 2023</span>
              <div class="content-wrap" [innerHTML]="blog.content"></div>
            </div>
          </div>
          <div class="w-full px-4 lg:w-2/5">
            <a *ngFor="let rlBlog of getRelatedblog" class="group mb-8 md:flex" href="#">
              <img
                class="h-28 w-40 rounded-lg"
                [src]="rlblogsImgUrl(rlBlog)"
                alt=""
              />
              <div class="my-4 pt-2 md:ml-6 md:mt-0">
                <span class="mb-2 block text-gray-500">{{rlBlog.publicationDate | date}} </span>
                <h4 class="text-xl font-semibold text-gray-900">
                 {{rlBlog.title | slice: 0:16}} ...
                </h4>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
